<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dallasgutauckis.henson.consoleimplementationsample">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.dallasgutauckis.henson.consoleimplementationsample.debug.ImplApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name="com.dallasgutauckis.henson.consoleimplementationsample.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.dallasgutauckis.henson.consoleimplementationsample.debug.ConfiguratorActionReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="configurator.intent.ACTION" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.dallasgutauckis.henson.consoleimplementationsample.debug.ConfiguratorConfigurationReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="configurator.intent.CONFIGURE" />
            </intent-filter>

        </receiver>

        <meta-data
            android:name="configurator_url"
            android:value="https://raw.githubusercontent.com/dallasgutauckis/console/master/sample-signatures.json" />
    </application>

</manifest>