<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dallasgutauckis.bloop.configurator">

    <application>
        <service
            android:name=".ConfigurationService"
            android:exported="true"
            tools:ignore="ExportedService" />
    </application>
</manifest>
